@model IEnumerable<Entity.Entities.Product>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link href="~/css/card.css" rel="stylesheet" />
<div class="carousel" data-flickity='{ "draggable": true, "pageDots": false}'>
    @foreach (var item in Model)
    {
        <div id="cell" class="carousel-cell">
            <div class="col-12">
                <a href="/Product/ProductPage/@item.Id">
                    <img src="@item.ThumbnailImage" width="100%" height="250px">
                </a>
            </div>
            <div id="name" class="col-12 text-center">
                @item.Name
            </div>
            <div class="col-12 text-center mt-2 mb-2">

                @if (item.Star == 5)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    @await Component.InvokeAsync("ProductCommentCount",new {id = item.Id})
                }
                @if (item.Star == 4)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    @await Component.InvokeAsync("ProductCommentCount",new {id = item.Id})
                }
                @if (item.Star == 3)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    @await Component.InvokeAsync("ProductCommentCount",new {id = item.Id})
                }
                @if (item.Star == 2)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    @await Component.InvokeAsync("ProductCommentCount",new {id = item.Id})
                }
                @if (item.Star == 1)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    @await Component.InvokeAsync("ProductCommentCount",new {id = item.Id})
                }
                @if (item.Star == 0)
                {
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    @await Component.InvokeAsync("ProductCommentCount",new {id = item.Id})
                }
            </div>
            <div class="col-12 mb-3">
                @if (item.Discount == 0)
                {
                    <div class="col-12 text-center pt-2 pb-3"><b>@item.Price.ToString("0")</b> ₺</div>
                }
                @if (item.Discount > 0)
                {
                    <div class="col-12 text-center">
                        <span style="text-decoration:line-through;opacity: 0.85;">@item.Price.ToString("0") ₺</span>
                        <b>%@item.Discount.ToString("0")</b>
                    </div>
                    var discountedPrice =
                    item.Price - (item.Price * @item.Discount) / 100;

                    <div class="col-12 text-center text-danger">
                        <b>
                            @discountedPrice.ToString("0")
                        </b> ₺
                    </div>
                }
            </div>
            <div class="col-12 text-center">
                @await Html.PartialAsync("~/Views/Cart/AddToCart.cshtml", item.Id)
            </div>
        </div>
    }
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

