@model IEnumerable<Entity.Entities.Product>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<style>
    .Category .carousel-cell {
        width: 50%;
        padding: 10px;
    }

    .checked {
        color: orange;
    }
</style>
<div class="carousel" data-flickity='{ "draggable": true, "pageDots": false}'>
    @foreach (var item in Model)
    {
        <div style="border:1px solid black;margin:10px;border-radius:10px;width:20%" class="Category carousel-cell">
            <div class="col-12">
                <a href="/Hotel/HotelPage/@item.Id">
                    <img src="@item.ThumbnailImage" height="200" width="100%" style="border-radius:10px;padding:10px;" />
                </a>
            </div>
            <div class="col-12" style="display:flex;flex-wrap:wrap">
                <div class="col-12 text-center">
                    @item.Name
                </div>
                <div class="col-6">
                    <a style="text-decoration:none;outline:none;color:black" href="/Hotel/HotelCityListNoComment/@item.CategoryId">
                        <b>@item.Category.Name</b>
                    </a>
                </div>
                <div style="display:Flex" class="col-6 justify-content-end">
                    <a href="/Hotel/HotelCategoryListNoComment/@item.CategoryId" style="text-decoration:none;outline:none;color:black">
                        <b>@item.Brand.Name</b>
                    </a>
                </div>
            </div>
            <div class="col-12 text-center mb-3"><b>@item.Price</b> ₺</div>
            <div class="col-12 mb-3 mt-3 text-center">
                <a class="btn-primary" style="padding:10px;text-decoration:none;outline:none;" href="/Hotel/HotelPage/@item.Id">
                    Ürüne Git
                </a>
            </div>
        </div>
    }
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> 