@using Entity.Entities
﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
@model IPagedList<Cart>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (!Model.Any())
{
    <div class="col-12 text-center mt-3 mb-3">
        @using (Html.BeginForm())
        {
            <input style="width:50%;border-right:none;padding:4.5px;outline:none;" type="text" name="p" placeholder="Aramak istediğiniz yorumu yazınız.">
            <button style="border-left:none;background-color:transparent;outline:none;margin-left:-4px;padding:9px 9px 7.3px 1px">
                <i class="fa fa-search"></i>
            </button>
        }
    </div>
    <center>
        <div class="alert alert-danger text-center mt-4" style="width:50%;">
            <div class="mt-2 mb-2">
                <b>Sepet Bulunamadı.</b>
            </div>
            <div class="mt-2 mb-2">
                Lütfen geçerli bir kullanıcı adı yazınız.
            </div>
        </div>
    </center>
}
@if (Model.Any())
{
    <div class="container-fluid">
        <div class="col-12 text-center mt-3 mb-3">
            @using (Html.BeginForm())
            {
                <input style="width:50%;border-right:none;padding:4.5px;outline:none;" type="text" name="p" placeholder="Aramak istediğiniz yorumu yazınız.">
                <button style="border-left:none;background-color:transparent;outline:none;margin-left:-4px;padding:9px 9px 7.3px 1px">
                    <i class="fa fa-search"></i>
                </button>
            }
        </div>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <a class="text-white" style="text-decoration:none;" href="/Cart/SortIdOrderBy/">Id</a>
                    </th>
                    <th>
                        <a class="text-white" style="text-decoration:none;" href="/Cart/SortNameOrderBy/">Kullanıcı Ad</a>
                    </th>
                    <th>
                        <a class="text-white" style="text-decoration:none;" href="/Cart/SortStatuOrderBy/">Statü</a>
                    </th>
                    <th>Sepet Ürünleri</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <a href="#" style="text-decoration:none;font-weight:bolder;">
                            @item.User.UserName
                        </a>
                    </td>
                    <td>

                        @if (item.Statu == true)
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-success">
                            </a>
                        }
                        else
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-danger">
                            </a>
                        }
                    </td>
                    <td>
                        <a class="btn-secondary" style="border-radius: 5px;padding: 4px 10px;text-decoration:none;font-weight:500" href="@Url.Action("GetCartItems", "Cart", new { userid = item.UserId, cartid = item.Id })">
                            Sepet Ürünleri
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-12" style="display:flex;justify-content:center;">
        @Html.PagedListPager((IPagedList)Model,page=>Url.Action("SortStatuOrderByDescending",new {page}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <div class="text-center">
        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
}

