@using Entity.Entities
@model List<ProductImage>
@{
    ViewData["Title"] = "Ürün Resimleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (!Model.Any())
{
    <div>
        Ürün Resimleri Bulunamadı
    </div>
}
@if (Model.Any())
{
    <table class="text-center">
        <tr>
            <th>ID</th>
            <th>Resim Url</th>
            <th>Ürün Ad</th>
            <th>Statü</th>
            <th>Tarih</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><img src="@item.ImageUrl" width="100" /></td>
                <td>@item.ImageUrl</td>
                <td>@item.Product.Name</td>
                <td>
                    @if (item.Statu == true)
                    {
                        <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-success">
                        </a>
                    }
                    else
                    {
                        <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-danger">
                        </a>
                    }
                </td>
                <td>@item.CreatedDate</td>
            </tr>
        }
    </table>
}

