@using Entity.Entities
@model List<Product>
@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/productpage.css" rel="stylesheet" />
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-12 bg-light" id="MainCategory">
            <b>
                <a href="/Home/HomePage/">Ana Sayfa</a>
                <span style="opacity:0.5;font-size:10px;color:black;">
                    <i class="fa fa-chevron-right"></i>
                </span>
                <a href="/Product/ListMainCategoryProduct/@item.Category.MainCategoryId">@item.Category.MainCategory.MainCategoryName</a>
                <span style="">
                    <i class="fa fa-chevron-right"></i>
                </span>
                <a href="/Product/ListCategoryProduct/@item.CategoryId">@item.Category.Name</a>
            </b>
        </div>
        <div class="row">
            <div id="ProductImage" class="col-md-6 col-lg-5">
                @await Component.InvokeAsync("ListProductImages",new {id=ViewBag.Id})
            </div>
            <div class="col-md-6 col-lg-7 bg-light text-black pt-3" id="ProductInfo">
                <div class="col-12 mt-4 mb-4">
                    <h3>@item.Name</h3>
                </div>
                <div class="col-12 mt-2 mb-2" id="Brand">
                    <a href="/Product/ListBrandProduct/@item.BrandId/">
                        <h4>@item.Brand.Name</h4>
                    </a>
                </div>
                <div class="row">
                    <div class="col-6 mt-2 mb-2">
                        <h5>
                            @if (item.Discount == 0)
                            {
                                <div class="col-12"><b>@item.Price.ToString("0")</b> ₺</div>
                            }
                            @if (item.Discount > 0)
                            {
                                <div class="col-12" id="Price">
                                    <span>@item.Price.ToString("0") ₺</span>
                                    <b class="text-success">
                                        %@item.Discount.ToString("0")
                                        <i class="fa fa-caret-down"></i>
                                    </b>
                                </div>
                                var discountedPrice =
                                item.Price - (item.Price * @item.Discount) / 100;
                                <div class="col-12 text-danger">
                                    <b>
                                        @discountedPrice.ToString("0")
                                    </b> ₺
                                </div>
                            }
                        </h5>
                    </div>
                    <div class="col-6 text-secondary text-center mt-2 mb-2">
                        @if (item.Star == 5)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span><b>@item.Star</b></span>
                        }
                        @if (item.Star == 4)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span><b>@item.Star</b></span>
                        }
                        @if (item.Star == 3)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span><b>@item.Star</b></span>
                        }
                        @if (item.Star == 2)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span><b>@item.Star</b></span>
                        }
                        @if (item.Star == 1)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span><b>@item.Star</b></span>
                        }
                        @if (item.Star == 0)
                        {
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span><b>@item.Star</b></span>
                        }
                    </div>
                    <div class="col-12 text-center mt-4 mb-4">
                        @await Html.PartialAsync("~/Views/Cart/AddToCart.cshtml", item.Id)
                    </div>
                    <div class="col-12">
                        @await Component.InvokeAsync("ListProductAttribute",new {id = item.CategoryId})
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            @await Component.InvokeAsync("ListProductAttributeAll",new {id = item.CategoryId})
        </div>
        <div class="col-12">
            @await Component.InvokeAsync("ListComment",new {id=ViewBag.Id})
        </div>
        <br />
        @if (User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("~/Views/Comment/CommentAdd.cshtml")
        }
        else
        {
            <div class="col-12 bg-secondary" id="Comment">
                <p class="col-12 pt-2 pb-1 text-white text-center">
                    Sadece kayıtlı üyeler yorum yapabilir.Yorum Yapabilmeniz için üye girişi yapmanız gerekmektedir.
                </p>
                <div id="CommentDiv" class="col-12 text-center pb-4">
                    <a class="btn-light text-center" href="/User/ProductUserLogin/@item.Id">
                        Giriş Yap
                    </a>
                    <a class="btn-danger text-center" href="/User/UserRegister/">
                        Üye Ol
                    </a>
                </div>
            </div>
        }
        <div class="col-12 text-center mt-2" id="CategoryProduct">
            <h2>
                @item.Category.Name
                <span>
                    <a href="/Product/ListCategoryProduct/@item.CategoryId">Tümünü Göster</a>
                </span>
            </h2>
        </div>
        @await Component.InvokeAsync("ListSimilarCategory",new {id = item.CategoryId})
        <div class="col-12 text-center" id="CategoryProduct">
            <h2>
                @item.Brand.Name
                <span>
                    <a href="/Product/ListBrandProduct/@item.BrandId">Tümünü Göster</a>
                </span>
            </h2>
        </div>
        @await Component.InvokeAsync("ListBrandProducts",new {id = item.BrandId})
        <div class="col-12 text-center" id="CategoryProduct">
            <h2>
                @item.Category.MainCategory.MainCategoryName
                <span>
                    <a href="/Product/ListMainCategoryProduct/1">Tümünü Göster</a>
                </span>
            </h2>
        </div>
        @await Component.InvokeAsync("MainCategoryProducts",new {id = item.Category.MainCategoryId})

    }
</div
><script src="~/js/slider.js"></script>