@using Entity.Entities
@model List<Product>
@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <img src="@item.ThumbnailImage" width="100">
    <h1>@item.Name</h1>
    <b><a href="/Product/ListCategoryProduct/@item.CategoryId">@item.Category.Name</a></b>
    <b><a href="/Product/ListBrandProduct/@item.BrandId">@item.Brand.Name</a></b>

    @await Component.InvokeAsync("ListProductImages",new {id=ViewBag.Id})
    @await Component.InvokeAsync("ListComment",new {id=ViewBag.Id})
    <br />
    @await Html.PartialAsync("~/Views/Comment/CommentAdd.cshtml")
    <div class="col-12" style="display:flex;justify-content:center;margin-left:-25px">
        <h2>@item.Category.Name Kategorisi<span style="font-size:16px;">
            <a href="/Product/ListMainCategoryProduct/1">Tümünü Göster</a></span></h2>
    </div>
    @await Component.InvokeAsync("ListSimilarCategory",new {id = item.CategoryId})
    <div class="col-12" style="display:flex;justify-content:center;margin-left:-25px">
        <h2>@item.Brand.Name Ürünleri<span style="font-size:16px;">
            <a href="/Product/ListMainCategoryProduct/1">Tümünü Göster</a></span></h2>
    </div>
    @await Component.InvokeAsync("ListBrandProducts",new {id = item.BrandId})
    <div class="col-12" style="display:flex;justify-content:center;margin-left:-25px">
        <h2>@item.Category.MainCategory.MainCategoryName Kategorisi<span style="font-size:16px;">
            <a href="/Product/ListMainCategoryProduct/1">Tümünü Göster</a></span></h2>
    </div>
    @await Component.InvokeAsync("MainCategoryProducts",new {id = item.Category.MainCategoryId})
   
}