@using Entity.Entities
@model List<Comment>
@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (!Model.Any())
{
    <div class="alert alert-danger text-center mt-4">
        Yorum Bulunamadı
    </div>
    <div class="text-center">
        @await Html.PartialAsync("~/Views/Comment/AdminCommentAdd.cshtml")
    </div>
}
@if (Model.Any())
{
    <div class="container-fluid">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Yorum</th>
                <th>Kullanıcı Ad</th>
                <th>Ürün Ad</th>
                <th>Statüsü</th>
                <th>Eklenme Tarihi</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CommentText</td>
                    <td><a style="text-decoration:none;font-weight:bolder" href="/Comment/UserComments/@item.UserId">@item.User.UserName</a></td>
                    <td><a style="text-decoration:none;font-weight:bolder" href="/Comment/ProductComments/@item.ProductId">@item.Product.Name</a></td>
                    <td>

                        @if (item.Statu == true)
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-success">
                            </a>
                        }
                        else
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-danger">
                            </a>
                        }
                    </td>
                    <td>@item.CreatedDate</td>
                    <td>
                        <a class="btn-warning text-white" style="border-radius: 5px;padding: 4px 10px;" href="/Comment/EditComment/@item.Id">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn-primary" style="border-radius: 5px;padding: 4px 10px;" href="/Comment/CommentDelete/@item.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <div class="text-center">
        @await Html.PartialAsync("~/Views/Comment/AdminCommentAdd.cshtml")
    </div>
}

