@using Entity.Entities
﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
@model IPagedList<Comment>
@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .table td {
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
@if (!Model.Any())
{
            <div class="col-12 text-center mt-3 mb-3">
        @using (Html.BeginForm())
        {
            <input style="width:50%;border-right:none;padding:4.5px;outline:none;" type="text" name="p" placeholder="Aramak istediğiniz yorumu yazınız.">
            <button style="border-left:none;background-color:transparent;outline:none;margin-left:-4px;padding:9px 9px 7.3px 1px">
                <i class="fa fa-search"></i>
            </button>
        }
    </div>
    <center>
        <div class="alert alert-danger text-center mt-4" style="width:50%;">
            <div class="mt-2 mb-2">
                <b>Yorum Bulunamadı.</b>
            </div>
            <div class="mt-2 mb-2">
                Lütfen geçerli bir yorum yazınız.
            </div>
        </div>
    </center>
    <div class="text-center">
        @await Html.PartialAsync("~/Views/Comment/AdminCommentAdd.cshtml")
    </div>
}
@if (Model.Any())
{
    <div class="container-fluid">
        <div class="col-12 text-center mt-3 mb-3">
            @using (Html.BeginForm())
            {
                <input style="width:50%;border-right:none;padding:4.5px;outline:none;" type="text" name="p" placeholder="Aramak istediğiniz yorumu yazınız.">
                <button style="border-left:none;background-color:transparent;outline:none;margin-left:-4px;padding:9px 9px 7.3px 1px">
                    <i class="fa fa-search"></i>
                </button>
            }
        </div>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th style="width:80px">
                        <a class="text-white" style="text-decoration:none;" href="/Comment/SortIdOrderBy/">Id</a>
                    </th>
                    <th style="width:400px">
                        <a class="text-white" style="text-decoration:none;" href="/Comment/SortTextOrderBy/">Yorum</a>
                    </th>
                    <th style="width:200px">
                        <a class="text-white" style="text-decoration:none;" href="/Comment/SortNameOrderBy/">Kullanıcı Ad</a>
                    </th>
                    <th style="width:200px">
                        <a class="text-white" style="text-decoration:none;" href="/Comment/SortProductOrderBy/">Ürün Ad</a>
                    </th>
                    <th style="width:80px">
                        <a class="text-white" style="text-decoration:none;" href="/Comment/SortStatuOrderBy/">Statü</a>
                    </th>
                    <th style="width:200px">
                        <a class="text-white" style="text-decoration:none;" href="/Comment/SortDateOrderBy/">Eklenme Tarihi</a>
                    </th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CommentText</td>
                    <td><a style="text-decoration:none;font-weight:bolder" href="/Comment/UserComments/@item.UserId">@item.User.UserName</a></td>
                    <td><a style="text-decoration:none;font-weight:bolder" href="/Comment/ProductComments/@item.ProductId">@item.Product.Name</a></td>
                    <td>

                        @if (item.Statu == true)
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-success">
                            </a>
                        }
                        else
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-danger">
                            </a>
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a class="btn-warning text-white" style="border-radius: 5px;padding: 4px 10px;" href="/Comment/EditComment/@item.Id">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn-primary" style="border-radius: 5px;padding: 4px 10px;" href="/Comment/CommentDelete/@item.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-12" style="display:flex;justify-content:center;">
        @Html.PagedListPager((IPagedList)Model,page=>Url.Action("SortIdOrderByDescending",new {page}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <div class="text-center">
        @await Html.PartialAsync("~/Views/Comment/AdminCommentAdd.cshtml")
    </div>
}

