@using Entity.Entities
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Product>
@{
    ViewData["Title"] = "Ürün Resimleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .table td {
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>

@if (!Model.Any())
{
    <div class="col-12 text-center mt-3 mb-3">
        @using (Html.BeginForm())
        {
            <input style="width:50%;border-right:none;padding:4.5px;outline:none;" type="text" name="p" placeholder="Aramak istediğiniz ürün adını yazınız.">
            <button style="border-left:none;background-color:transparent;outline:none;margin-left:-4px;padding:9px 9px 7.3px 1px">
                <i class="fa fa-search"></i>
            </button>
        }
    </div>
    <center>
        <div class="alert alert-danger text-center mt-4" style="width:50%;">
            <div class="mt-2 mb-2">
                <b>Ürün Bulunamadı.</b>
            </div>
            <div class="mt-2 mb-2">
                Lütfen geçerli bir ürün adı yazınız.
            </div>
        </div>
    </center>
}

@if (Model.Any())
{
    <div class="container-fluid">
        <div class="col-12 text-center mt-3 mb-3">
            @using (Html.BeginForm())
            {
                <input style="width:50%;border-right:none;padding:4.5px;outline:none;" type="text" name="p" placeholder="Aramak istediğiniz ürün adını yazınız.">
                <button style="border-left:none;background-color:transparent;outline:none;margin-left:-4px;padding:9px 9px 7.3px 1px">
                    <i class="fa fa-search"></i>
                </button>
            }
        </div>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Resim</th>
                    <th>Ad</th>
                    <th>Marka</th>
                    <th>Açıklama</th>
                    <th>Fiyat</th>
                    <th>Stok</th>
                    <th>Kategorisi</th>
                    <th>Statü</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.Id</td>
                    <td><img width="100" src="@item.ThumbnailImage" /></td>
                    <td>@item.Name</td>
                    <td><a style="text-decoration:none;font-weight:bolder" href="/Product/ListBrandProduct/@item.BrandId">@item.Brand.Name</a></td>
                    <td>
                        <p>
                            @item.Description
                        </p>
                    </td>
                    <td>@item.Price.ToString("0")</td>
                    <td>@item.Stock</td>
                    <td><a style="text-decoration:none;font-weight:bolder" href="/Product/ListCategoryProduct/@item.CategoryId">@item.Category.Name</a></td>
                    <td>
                        @if (item.Statu == true)
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-success">
                            </a>
                        }
                        else
                        {
                            <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.Statu btn-danger">
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="col-12" style="display:flex;justify-content:center;">
            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("GetProduct",new {page}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
}

