@using Entity.Entities
@model List<CartItems>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="text-center">
    <tr>
        <th>ID</th>
        <th>Sayı</th>
        <th>Fiyat</th>
        <th>Sepet Id</th>
        <th>Ürün Resmi</th>
        <th>Ürün Adı</th>
        <th>Ürün Fiyat</th>
        <th>Statü</th>
        <th>Tarih</th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>@item.Id</td>
            <td>@item.Quantity</td>
            <td>@item.TotalPrice</td>
            <td>@item.CartId</td>
            <td><img src="@item.Product.ThumbnailImage" width="100" /></td>
            <td>@item.Product.Price.ToString("0")</td>
            <td>@item.Product.Name</td>
            <td>@item.Statu</td>
            <td>@item.CreatedDate.ToString("dd MM yyyy")</td>
        }
    </tr>
</table>