@model Entity.Entities.User
@{
    ViewData["Title"] = "Kullanıcı Güncelleme Sayfası";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    @Html.TextBoxFor(x=>x.Id,new {@style="display:none;"})
    <center class="mb-2 mt-2">@Html.TextBoxFor(x=>x.UserName,new {@style="padding: 4px 10px;margin-left:-10px;width:50%;"})</center>
    <center class="mb-2 mt-2">@Html.TextBoxFor(x=>x.Password,new {@style="padding: 4px 10px;margin-left:-10px;width:50%;"})</center>
    <center class="mb-2 mt-2">@Html.TextBoxFor(x=>x.CreatedDate,new {@style="padding: 4px 10px;margin-left:-10px;width:50%;display:none;",@readonly = "readonly"})</center>
    <center>
        @Html.DropDownList("Statu", new List<SelectListItem>
    {
    new SelectListItem { Value = "True", Text = "Aktif" },
    new SelectListItem { Value = "False", Text = "Pasif" }
    }, "-- Seçiniz --", new {@style="padding: 4px 10px;margin-left:-10px;width:50%"})
    </center>
    <center class="mt-2">
        <button style="padding: 4px 10px;margin-left:-10px;" class="btn-success text-center">Güncelle</button>
    </center>
}
